<div class="navbar-inner" active-link="active">
    <a href="#" class="brand">Els</a>
    <ul class="nav">
        <li class="active">
            <a href="#/dashboard">Dashboard</a>
        </li>
        <li jq-ui="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Huizen <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#/view1">Overzicht</a></li>
                <li><a href="#">Matches</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Mensen <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#/view2">Overzicht</a></li>
            </ul>
        </li>
    </ul>
    <ul class="nav pull-right">
        <li class="divider-vertical"></li>
        <li>
            <a href="#">
                Mijn gegevens <i class="icon-cog"></i>
            </a>
        </li>
    </ul>
    <form class="navbar-search pull-right form-search">
        <div class="input-append">
            <!--<input class="search-query" type="text" placeholder="search">-->
            <input type="text" class="span2 search-query">
            <a class="btn tbn-small" href="#">
                <i class="icon-search"></i>
            </a>
        </div>
    </form>
</div>